@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Google+Sans');

// Color Pallete
$white: #fff;
$bg-color: #f3f7f7;
$light-grey: #4A4A4A;
$primary-color: #1389FD;

// Font family
$google-sans: "Google Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;
$helvetica: Helvetica, sans-serif;

* {
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

ul, li, div {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

li { list-style: none; }

a { text-decoration: none; }

h1 {
  font-family: $google-sans;
  font-weight: 400;
  line-height: 1.2;
}

.active { color: $primary-color; }
.bold { font-weight: 700; }
.flex-column { flex-direction: column !important; }

.text-headline {
  font-size: 18px;
  line-height: 1.4;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1240px;
}

.btn {
  font-family: $google-sans;
  padding: 0.5rem;
  white-space: normal;
  letter-spacing: .5px;
}

.btn:hover {
  background-color: #1389fdba;
  color: $white;
}

.btn-primary {
  color: $white;
  background-color: $primary-color;
}

.btn-line-primary {
  color: $primary-color;
  border: 1px solid $primary-color;
}

.grid {
  grid-template-columns: auto;
  display: grid;
  gap: 10px;
}

.card {
  box-sizing: border-box;
  padding: 15px 30px;
  min-height: 180px;
  min-width: 360px;
  background-color: $white;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: $open-sans;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $primary-color;
    color: $white;
    text-align: left;
  }

  th, td { padding: 12px 15px; }

  body tr { border-bottom: 1px solid #dddddd; }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

.form {
  padding: 0px 25px;

  .form-group {
    display: flex;
    align-items: center;
  }

  input { height: 40px; }
  textarea { height: 80px; width: 100%; }
}

// Navbar classes
.Navbar {
  justify-content: center;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: $white;
  font-weight: 700;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .navbar-logo {
    font-family: sans-serif;
    a { color: $primary-color; }
  }

  .navbar-link {
    height: 4rem;
    color: $light-grey;
    font-size: 14px;
    line-height: 60px;
  }

  .navbar-link-item {
    margin-right: 30px;
  }

  .navbar-btn {
    padding: 0.5rem 0.75rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  }
}

.dashboard {
  color: $light-grey;

  .container { display: flex; }

  .course-title {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
  }

  .course-row {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  .group { box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%); }

  .group-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .group-content {
    letter-spacing: 0;
    font-size: 13px;
    line-height: 1.5;
  }

  .group-desc {
    color: #738f93;
    margin-bottom: 20px;
    min-height: 40px;
  }

  .group-action {
    display: flex;
    justify-content: space-between;
  }
}

.site-sidebar {
  width: 240px;
  padding: 40px 16px;
  color: #4A4A4A;

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;

    .nav {
      padding-left: 1rem;
    }
  }

  .nav-item {
    overflow: hidden;
    font-family: $google-sans;
    cursor: pointer;
  }

  .nav-button {
    padding: 0.25rem 0;
    font-size: 0.875rem;
  }

  .nav-button:hover {
    color: $primary-color;
  }

  .nav-link {
    padding: 0.75rem 0;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    color: inherit;
    font: inherit;
  }

  .nav-link:not(.collapsed)::after {
    transform: rotate(180deg);
  }

  .collapse:not(.show) {
    display: none;
  }

  .nav-link::after {
    content: 'keyboard_arrow_down';
    font: 24px/1 "Material Icons";
    transition: transform .25s ease-in-out;
  }
}

.site-content {
  min-height: calc(100vh - 66px - 140px);
  font-family: $open-sans;
  color: #576871;
  width: 100%;

  .question-list {
    padding: 40px 30px;
    display: grid;
    gap: 10px;
  }

  .question-card {
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: $white;
    display: flex;
    margin-bottom: 10px;
  }

  .question-text {
    width: 100%;
  }

  .qs-statement {
    word-wrap: break-word;
  }

  .question-id {
    width: 40px;
    font-weight: 700;
  }

  .option {
    display: flex;

    .option-text {
      width: 100%;
      padding-left: 15px;
    }

    p {
      margin: 5px 0;
    }
  }

  .options-row {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 5px;
  }
}

.Footer {
  font-family: $open-sans;
  color: #576871;
}
